.aside {
    width: 15dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.aside a {
    width: 100%;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    font: var(--font-button);
    color: var(--text-title-dark);
}

.active {
    background-color: var(--foreground);
}
