html, body {
  all: unset;
  margin: 0;
  padding: 0;
}

:root {
  --background: #000000;
  --foreground: #FFFFFF;

  --h3-font: normal bold 16px/24px 'Inter', sans-serif;
  --body-font: normal normal 16px/24px 'Inter', sans-serif;
  --button-font: normal bold 16px/1 'Inter', sans-serif;
}
